*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: bisque;
}
section{
    padding: 3.5rem 7%;
}

.btn{
margin-top: 1rem;
display: inline-block;
padding: 2rem 3.75rem;
border-radius: 30rem;
font-size: 1.7rem;
color: bisque;
background-color: #000000;
}

.header .logo img{
    height: 10rem;
    user-select: none;
}

.header{
    background-color:rgb(255, 255, 255);
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 0rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position:relative;
    top: 0;
    z-index: 1000;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color:rgb(0, 0, 0);
    border-bottom: 0.1rem solid transparent;
    user-select: none;
    padding: 1rem;
}

.header .navbar .active,
.header .navbar a:hover{
    border-color: red;
    padding-bottom: 0.5rem;
}

.sağ{
    line-height: 1.5;
    padding: 2rem;
    width: 1100px;
    margin: auto;
    font-size: small;
}

.sol{
    padding: 2rem;
    float: left;
    width: 400px;
}

h1{
    float: none;
    color: red;

}

.baslik{
    width: 25%;
    color: white;
    background-color: blue;
    text-align: center;
    margin-top: 7rem;
    margin: left;


}

ul li{
    font-style: oblique;
    font-size: medium;
}

.baslik1{
    width: 25%;
    color: white;
    background-color: blue;
    text-align: center;
    margin-top: 7rem;
    margin: left;

}

b{
font-size: medium;

}

.yazi{
    font-size: medium;
    line-height: 2rem;
}
